@page "/"

<PageTitle>Home</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
  <img src="https://sunhats.eu/cdn/shop/products/pana-mate-fedora-sun-hat-935@2x.jpg?v=1719398025" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sombrero</h5>
    <p class="card-text">$235.00 </p>
<button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div>
        </div>
        <div class="col-sm-4">
             <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdC9NUaHkCdVL-WOk5XkPaCV4kKgYXCKSRMA&s " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pantalon</h5>
    <p class="card-text"> 455.00 </p>
<button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
  <img src="https://www.corotos.com.do/imagenes/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCS0VGZUFJPSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--dc77edc8eb73f44665a7cef3474e9c1bb1b581e8/e6384b52_2fdf_447f_b8e4_5462f40d9015_jpg?variant_options%5Bformat%5D=webp&variant_options%5Bresize_to_fit%5D%5B%5D=1280&variant_options%5Bresize_to_fit%5D%5B%5D=720" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Poloche </h5>
    <p class="card-text"> 335.00 </p>
    <button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div> 
        </div>

    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuLXbHX3UYg82Z1noPDhTvp6qvxGB5WlMzvQ&s"class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Zapatos </h5>
    <p class="card-text">$235.00 </p>
<button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div>
        </div>
        <div class="col-sm-4">
             <div class="card" style="width: 18rem;">
  <img src="https://www.ostu.com/on/demandware.static/-/Sites-storefront_catalog_ostu/default/dw8160defd/images/filters/carrusel-calzado-mujer-tenis.jpg " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tenis</h5>
    <p class="card-text"> 455.00 </p>
<button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
  <img src="https://www.corotos.com.do/imagenes/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCS0VGZUFJPSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--dc77edc8eb73f44665a7cef3474e9c1bb1b581e8/e6384b52_2fdf_447f_b8e4_5462f40d9015_jpg?variant_options%5Bformat%5D=webp&variant_options%5Bresize_to_fit%5D%5B%5D=1280&variant_options%5Bresize_to_fit%5D%5B%5D=720" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Poloche </h5>
    <p class="card-text"> 335.00 </p>
    <button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div> 
        </div>

    </div>

</div>



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
  <img src="https://sunhats.eu/cdn/shop/products/pana-mate-fedora-sun-hat-935@2x.jpg?v=1719398025" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sombrero</h5>
    <p class="card-text">$235.00 </p>
<button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div>
        </div>
        <div class="col-sm-4">
             <div class="card" style="width: 18rem;">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdC9NUaHkCdVL-WOk5XkPaCV4kKgYXCKSRMA&s " class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Pantalon</h5>
    <p class="card-text"> 455.00 </p>
<button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
  <img src="https://www.corotos.com.do/imagenes/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBCS0VGZUFJPSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--dc77edc8eb73f44665a7cef3474e9c1bb1b581e8/e6384b52_2fdf_447f_b8e4_5462f40d9015_jpg?variant_options%5Bformat%5D=webp&variant_options%5Bresize_to_fit%5D%5B%5D=1280&variant_options%5Bresize_to_fit%5D%5B%5D=720" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Poloche </h5>
    <p class="card-text"> 335.00 </p>
    <button type="button" class="btn btn-outline-success">Success</button>
  </div>
</div> 
        </div>

    </div>

</div>

